{% extends "base_template.html"%}

{% block report_body %}
<h1>summary</h1>
<h2>total render duration in seconds</h2>
<table class="baseTable">
    <tr>
        <th>Tool</th>
        {% for hw in hardware %}
        <th>{{ hw[0] }}</th>
        {% endfor %}
    </tr>

    {% for tool in test_info %}
    <tr>
        <td>{{ tool }}</td>
        {% for hw in test_info[tool] %}
            <td>{{ hw[1] | round(1) }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<hr/>

<h1>graph</h1>
<div id="columnchart"></div>

<hr/>
<h1>details</h1>
<h2>render duration by test groups in seconds</h2>
{% for tool in performance_report_detail %}
<h3>{{ tool }}</h3>
<div class="jsTableWrapper">
    <table class="baseTable"
           data-toggle="table"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-show-pagination-switch="true"
           data-pagination="false"
           data-page-list="[5, 10, 20, 45, ALL]"
           data-sort-order="desc"
           data-sort-name="test_status"
           data-show-multi-sort="true"
    >
        <thead>
        <tr>
            <th data-halign="center" data-sortable="true">Test</th>
            {% for hw in hardware %}
            <th data-halign="center" data-sortable="true">{{ hw[0] }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
    {% for test_package in performance_report_detail[tool] %}
        {% for test_config in performance_report_detail[tool][test_package] %}
        <tr>
            <td>{{ test_package }} {{ test_config }}</td>
            {% for hw in test_info[tool] %}
                {% if performance_report_detail[tool][test_package][test_config][hw[0]].render_duration is number %}
                    <td>{{ performance_report_detail[tool][test_package][test_config][hw[0]].render_duration | round(3) }}</td>
                {% else %}
                    <td class="errorStatus">NaN</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    {% endfor %}
        </tbody>
    </table>
{% endfor %}
</div>

<hr/>
<h1>normalized</h1>
<h2>relative render duration</h2>
{% for tool in performance_report_detail %}
<h3>{{ tool }}</h3>
<div class="jsTableWrapper">
    <table id="normalizedPerformance"
           class="baseTable"
           data-toggle="table"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-show-pagination-switch="true"
           data-pagination="false"
           data-page-list="[5, 10, 20, 45, ALL]"
           data-sort-order="desc"
           data-sort-name="test_status"
           data-show-multi-sort="true"
    >
        <thead>
        <tr>
            <th data-filed="test_case" data-halign="center" data-sortable="true">Test</th>
            {% for hw in hardware %}
            <th data-filed="{{ hw[0] }}" data-halign="center" data-sortable="true" data-formatter="performanceNormalizeFormatter" data-cell-style="performanceNormalizeStyleFormatter">{{ hw[0] }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for test_package in performance_report_detail[tool] %}
        {% for test_config in performance_report_detail[tool][test_package] %}
        <tr>
            <td>{{ test_package }} {{ test_config }}</td>
            {% for hw in test_info[tool] %}
            <td>{{ performance_report_detail[tool][test_package][test_config][hw[0]].render_duration }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}

{% endblock %}