{% extends "base_template.html"%}

{% block report_body %}
<h1>info</h1>

<div class="jsTableWrapper">
    <table class="baseTable"
            data-toggle="table">
        <thead>
            <tr>
                <th>Job Name</th>
                <th>Total</th>
                <th>Passed</th>
                <th>Failed</th>
                <th>Error</th>
                <th>Skipped</th>
                <th data-formatter="timeFormatter">Time taken</th>
                <th data-formatter="timeFormatter">Setup time</th>
                <th data-formatter="timeFormatter">Render time</th>
            </tr>
        </thead>
        <tbody>
    {% for i, value in report | dictsort %}
            <tr>
                <td>{% if i != "_cur_" %}
                    <a href="#{{ i }}">{{ i }}</a>
                    {% else %}
                    "Job name"
                    {% endif %}
                </td>
                <td>{{ report[i].summary.total }}</td>
                <td>{{ report[i].summary.passed }}</td>
                <td
                {%- if report[i].summary.failed != 0 %}
                class="failedStatus"
                {% endif -%}
                >{{ report[i].summary.failed }}</td>

                <td
                {%- if report[i].summary.error != 0 %}
                class="errorStatus"
                {% endif -%}
                >{{ report[i].summary.error }}</td>

                <td
                {%- if report[i].summary.skipped != 0 %}
                class="skippedStatus"
                {% endif -%}
                >{{ report[i].summary.skipped }}</td>

                <td>{{ report[i].summary.duration }}</td>
                <td>{{ report[i].summary.duration - report[i].summary.render_duration }}</td>
                <td
                {%- if report[i].summary.render_duration == -0.0 %}
                class="badResult"
                {% endif -%}
                >{{ report[i].summary.render_duration }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<hr>

<h1>tests</h1>

{% for i, value in report | dictsort %}
    {% if i != "_cur_" %}
<h3><a href="{{ i }}_detailed.html">{{ i }}</a></h3>

<a class="hAnchor" name="{{ i }}"></a>
    {% endif %}

<div class="jsTableWrapper">
    <table class="baseTable"
        data-toggle="table">
        <thead>
            <tr>
                <th>Test package name</th>
                <!--<th>Config</th>-->
                <th>Host</th>
                <th>Local report</th>
                <th>Engine log</th>
                <th>Total</th>
                <th>Passed</th>
                <th>Failed</th>
                <th>Error</th>
                <th>Skipped</th>
                <th data-formatter="timeFormatter">Time taken</th>
                <th data-formatter="timeFormatter">Setup time</th>
                <th data-formatter="timeFormatter">Render time</th>
            </tr>
        </thead>
        <tbody>
    {% for test_package, value in report[i].results | dictsort %}
        {% set resultsloop = loop %}
            <tr>
                <td rowspan="{{ report[i].results[test_package] | length }}">{{ test_package }}</td>
            {% for test_conf, value in report[i].results[test_package] | dictsort %}
                <!--<td>{{ test_conf }}</td>-->

                <td>
                    <button class="commonButton popupButton" type="button" onclick="openModalWindow('machineInfo{{ loop.index }}');return false;">{{ report[i].results[test_package][test_conf].machine_info.host }}</button>
                    <div class="popup" id="machineInfo{{ loop.index }}">
                        <div class="popupContent popupHalfWidth">
                            <form class="popupForm">
                                <button class="commonButton closePopup" type="button" onclick="closeModalWindow('machineInfo{{ loop.index }}');return false;"><img src="report_resources/img/close-button.png"/></button>
                            </form>
                            <table>
                                <tr>
                                    <th>OS</th>
                                    <th>RAM, Gb</th>
                                    <th>CPU</th>
                                    <th>CPU count</th>
                                    <th>GPU</th>
                                </tr>
                                <tr>
                                    <td>{{ report[i].results[test_package][test_conf].machine_info.os }}</td>
                                    <td>{{ report[i].results[test_package][test_conf].machine_info.ram | round }}</td>
                                    <td>{{ report[i].results[test_package][test_conf].machine_info.cpu }}</td>
                                    <td>{{ report[i].results[test_package][test_conf].machine_info.cpu_count }}</td>
                                    <td>{{ report[i].results[test_package][test_conf].machine_info.render_device }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </td>

                <td><a href="{{ report[i].results[test_package][test_conf].result_path }}/report.html">Report</a></td>
                <td><a href="{{ report[i].results[test_package][test_conf].result_path }}/../launcher.engine.log">Engine log</a></td>
                <td>{{ report[i].results[test_package][test_conf].total }}</td>
                <td>{{ report[i].results[test_package][test_conf].passed }}</td>

                <td
                {% if report[i].results[test_package][test_conf].failed != 0 %}
                class="failedStatus"
                {% endif %}
                >{{ report[i].results[test_package][test_conf].failed }}</td>

                <td
                {% if report[i].results[test_package][test_conf].error != 0 %}
                class="errorStatus"
                {% endif %}
                >{{ report[i].results[test_package][test_conf].error }}</td>

                <td
                {% if report[i].results[test_package][test_conf].skipped != 0 %}
                class="skippedStatus"
                {% endif %}
                >{{ report[i].results[test_package][test_conf].skipped }}</td>

                <td>{{ report[i].results[test_package][test_conf].duration }}</td>

                <td>{{ report[i].results[test_package][test_conf].duration - report[i].results[test_package][test_conf].render_duration }}</td>

                <td
                {% if report[i].results[test_package][test_conf].render_duration == -0.0 %}
                class="badResult"
                {% endif %}
                >{{ report[i].results[test_package][test_conf].render_duration | round(1) }}</td>
            </tr>
            <tr>
            {% endfor %}
            </tr>
        {% endfor %}

            <tr class="summary_tr">
                <td colspan="4">Sum</td>
                <td>{{ report[i].summary.total }}</td>
                <td>{{ report[i].summary.passed }}</td>
                <td
                {% if report[i].summary.failed != 0 %}
                class="failedStatus"
                {% endif %}
                >{{ report[i].summary.failed }}</td>
                <td
                {% if report[i].summary.error != 0 %}
                class="errorStatus"
                {% endif %}
                >{{ report[i].summary.error }}</td>
                <td
                {% if report[i].summary.skipped != 0 %}
                class="skippedStatus"
                {% endif %}
                >{{ report[i].summary.skipped }}</td>
                <td>{{ report[i].summary.duration }}</td>
                <td>{{ report[i].summary.duration - report[i].summary.render_duration }}</td>
                <td
                {% if report[i].summary.render_duration == -0.0 %}
                class="badResult"
                {% endif %}
                >{{ report[i].summary.render_duration | round(1) }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endfor %}

{% endblock %}